{% extends "base.html" %} {% block title %}Current name: {{DeckName}}{% endblock
%} {% block content %}
<form method="POST">
  <h3 class="text-center mb-3">Add new flashcard</h3>
  <div class="form-group">
    <label for="Question">Question</label>
    <input
      type="text"
      class="form-control"
      id="Question"
      name="Question"
      placeholder="Enter question"
    />
  </div>
  <div class="form-group">
    <label for="Answer">Answer</label>
    <input
      type="text"
      class="form-control"
      id="Answer"
      name="Answer"
      placeholder="Enter Answer"
    />
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Add Flashcard</button>
</form>

{% endblock %}
