<script>
  $(function () {
    $("#test-form").on("submit", function (e) {
      e.preventDefault();
      e.stopPropagation();
      // alert("Hello from form submit");
      $.ajax({
        type: "post",
        url: "/ajaxtest",
        data: $("#test-form").serialize(),
        //Headers: { csrf_token: $(this).find('input[name="csrf_token"]').val() },
        success: function (data) {
          // alert(data);
          $("#ajax-target").html(data);
        },
      });
      e.preventDefault();
    });
  });
</script>
<form method="post" id="test-form">
  <label for="fname">First name:</label><br />
  <input type="text" id="fname" name="fname" /><br />
  <label for="lname">Last name:</label><br />
  <input type="text" id="lname" name="lname" />
  <button type="submit" id="form-submit" class="btn">submit</button>
</form>
