{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<script>
  function togglePasswordDisplay1() {
    let password = document.querySelector("#password1");
    // toggle the type attribute
    let type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    // toggle the icon
    this.classList.toggle("bi-eye");
  }
  function togglePasswordDisplay2() {
    let password = document.querySelector("#password2");
    // toggle the type attribute
    let type =
      password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);

    // toggle the icon
    this.classList.toggle("bi-eye");
  }
</script>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <form method="POST">
      <h3 class="mb-3 text-center">Change Password</h3>
      <div class="mb-3 row">
        <label for="password1" class="col-lg-4 col-form-label">Password</label>
        <div class="col-lg-6">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter password"
            />
            <span class="input-group-text">
              <i
                class="bi bi-eye-slash"
                style="cursor: pointer"
                id="togglePassword"
                onclick="togglePasswordDisplay1()"
              ></i
            ></span>
          </div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password2" class="col-lg-4 col-form-label"
          >Password (Confirm)</label
        >
        <div class="col-lg-6">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm password"
            />
            <span class="input-group-text">
              <i
                class="bi bi-eye-slash"
                style="cursor: pointer"
                id="togglePassword"
                onclick="togglePasswordDisplay2()"
              ></i
            ></span>
          </div>
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary btn-blue">Submit</button>
    </form>
  </div>
  <div class="col-lg-2"></div>
</div>

{% endblock %}
