{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %} {% if DeckToDisplay == 'Parent' %}
<div class="row">
  <div class="col"></div>
  <div class="col">
    <form
      method="post"
      action="{{url_for('flashcardsSection.chooseFlashcardDeckToManage',pageToDisplay=PageToDisplay,DeckToDisplay='Child')}}"
    >
      <h3 class="text-center mb-3">Choose Flashcard Deck</h3>
      {% for Deck in Decks%}
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="radio"
          id="deckName"
          name="deckName"
          value="{{Deck}}"
        />
        <label class="form-check-label" for="deckName"> {{Deck}} </label>
      </div>
      {% endfor%}
      <div class="text-center">
        <input
          name="ManageSubDecks"
          type="submit"
          value="Manage subdecks"
          class="btn btn-lg btn-blue"
        />
        <input
          name="Choose"
          type="submit"
          value="Choose"
          class="btn btn-lg btn-blue"
        />
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>

{% endif %} {% if DeckToDisplay == 'Child' %}
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form
      method="post"
      action="{{url_for('flashcardsSection.chooseFlashcardDeckToManage',pageToDisplay=PageToDisplay)}}"
    >
      <h3 class="text-center mb-3">Manage Flashcards</h3>
      {% for Deck in Decks%}
      <div class="form-check-inline mb-3">
        <input
          class="form-check-input"
          type="radio"
          id="deckName"
          name="deckName"
          value="{{Deck}}"
        />
        <label class="form-check-label" for="deckName"> {{Deck}} </label>
      </div>
      {% endfor%}
      <div class="text-center">
        <input
          name="Choose"
          type="submit"
          value="Choose"
          class="btn btn-lg btn-blue"
        />
      </div>
    </form>
  </div>
  <div class="col-3"></div>
</div>

{% endif %}{% endblock %}
