{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}

<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <form method="POST">
      <h3 class="text-center mb-3">Deck</h3>
      <div class="form-group">
        <label for="SubDeckName">Sub deck name</label>
        <input
          type="text"
          class="form-control"
          id="SubDeckName"
          name="SubDeckName"
          placeholder="Enter name"
        />
      </div>
      <br />
      <h3 class="text-center mb-3">Add new flashcard</h3>
      <div class="form-group">
        <label for="Question">Question</label>
        <input
          type="text"
          class="form-control"
          id="Question"
          name="Question"
          placeholder="Enter question"
        />
      </div>
      <div class="form-group">
        <label for="Answer">Answer</label>
        <input
          type="text"
          class="form-control"
          id="Answer"
          name="Answer"
          placeholder="Enter Answer"
        />
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Create Deck</button>

      {% endblock %}
    </form>
  </div>
  <div class="col-4"></div>
</div>
