

{% extends "base.html" %} {% block title %}{{DeckName}}{% endblock %} {%
    block content%}
    
<style>
    
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .styled-table thead tr {
        background-color: #929696;
        color: #e4e7e9;
        text-align: left;
    }
    
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    
    .styled-table tbody tr {
        border-bottom: 1px solid #e4e7e9;
    }
    
    </style>
    
    <h3 class="text-center">Flashcards</h1>
      <table class="styled-table">
        <thead>
           <tr>
            <td>Quiz ID</td>
            <td>DeckName</td>
            <td>Number of questions</td>
            <td>Number of questions answered correctly</td>
        </tr>
        </thead>
        <tbody>
            {% for row in data %}
    
            <tr> 
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
    
            </tr>
            {% endfor %} 
        </tbody>
    </tbody>
    </table>
    
    
    {% endblock %}
    