{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}
<form method="post" action="/flashcards">
  <div class="container-fluid overflow-hidden">
      <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0  d-flex sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">          
            <ul
              class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
              id="menu">
              <li class="nav-item fixed-width mb-3">
                <span class="icon-input-btn">
                  <i class="bi bi-box-arrow-down"></i>
                  <input type="submit" value="Import Flashcards" name="action1" class="btn btn-primary fixed-width" />
                </span>
              </li>
              <li class="nav-item fixed-width mb-3">
                <span class="icon-input-btn">
                  <i class="bi bi-kanban"></i>
                  <input type="submit" value="Manage Flashcards" name="action2" class="btn btn-primary fixed-width" />
                </span>
              </li>
              <li class="nav-item fixed-width mb-3">
                <span class="icon-input-btn">
                  <i class="bi bi-plus-circle-fill"></i>
                  <input type="submit" value="Create New Deck" name="action3" class="btn btn-primary fixed-width" />
                </span>
              </li>  
              <li class="nav-item fixed-width mb-3">
                <span class="icon-input-btn">
                  <i class="bi bi-award"></i>
                  <input type="submit" value="Practice Flashcards" name="action4" class="btn btn-primary fixed-width" />
                </span>
              </li>             
            </ul>          
          </div>
        </div>
        <div class="col d-flex flex-column h-100">
          <main class="row ml-5 p-4">          
            <div class="col-12">
              <h3>Flashcards Info</h3>
              <p>Welcome to the Flashcards page! This is where you can view, manage, import, and practice your flashcards. Here's what you can do:</p>
              <ul>
              
              <li>View your flashcards: You can view all your flashcards on this page, organized by decks. You can also filter your flashcards by questions to help you find the ones you need quickly.</li>
              
              <li>Import flashcards: You can easily import flashcards from Anki or if you would like, directly through our website</li>
              
              <li>Manage flashcards: You can create new flashcards or you can edit your flashcards at any time, adding or removing content, changing the formatting, or updating the information. You can also delete flashcards you no longer need. </li>
              
              <li>Practice flashcards: Once you have your flashcards ready, you can practice them to test your knowledge of the flashcards. </li>
              </ul>
              <p>Thank you for using Revisionary to manage and practice your flashcards. We're committed to providing you with the best tools to help you achieve academic success and become a revision master!</p>
            </div>           
          </main>        
        </div>
      </div>
    </div>
  </div>
  </form>
{% endblock %}
