{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-8">
    <p>
      Welcome back to Revisionary! As a registered user, you now have access to
      a range of features that will help you practice and revise your flashcards
      more effectively. Here's what you can do:
    </p>

    <ul>
      <li>
        Dashboard: Once you log in, you'll see your personalized dashboard,
        where you can see your study progress. You can also access your
        flashcards, create new ones, or edit existing sets.
      </li>

      <li>
        Flashcards: You can access your flashcards from your dashboard or the
        Flashcards page. From here, you can import flashcards from Anki, search
        for specific topics, or create your own flashcards.
      </li>

      <li>
        Quizzes: Our platform allows you to take quizzes on your own or with
        other students. You can access your quizzes from the Quizzes page, where
        you can select a set of flashcards to test your knowledge. You'll
        receive feedback on your performance and see the areas to improve on
      </li>

      <li>
        Multiplayer quizzes: Revisionary lets you collaborate with other
        students and revise with others by taking quizzes. You can join an
        existing quiz room or create your own, invite classmates to join and
        complete the quiz while communicating with each other
      </li>
    </ul>
    <p>
      Thank you for choosing Revisionary for your studying needs. We're
      committed to helping you achieve academic success and become a revision
      master!
    </p>
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
