{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}
<h3 class="text-center mb-3">{{DeckName}}</h3>
{% if IsDeckAParentDeck == False %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form method="post" action="/manageFlashcards/{{DeckName}}">
      <div class="row btn-group">
        <div class="col-12">
          <input
            type="submit"
            value="Change name of deck"
            name="action1"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Add New Flashcards"
            name="action2"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Delete Flashcards"
            name="action3"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input type="submit" value="Delete Deck" name="action6" class="btn" />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Edit contents"
            name="action4"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="View flashcards"
            name="action5"
            class="btn"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
{% endif %} {% if IsDeckAParentDeck == True %}
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form method="post" action="/manageFlashcards/{{DeckName}}">
      <div class="row btn-group">
        <div class="col-12">
          <input
            type="submit"
            value="Change name of deck"
            name="action1"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input type="submit" value="Delete Deck" name="action6" class="btn" />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="View flashcards"
            name="action5"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input type="submit" value="Delete Deck" name="action6" class="btn" />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Create Subdeck"
            name="action7"
            class="btn"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>

{% endif %} {% endblock %}
