{% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% else %}
      <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
      <script>
        $(function () {
          $("#test-form").on("submit", function (e) {
            e.preventDefault();
            e.stopPropagation();          
            $.ajax({
              type: "POST",
              url: "{{url_for('QuizSection.multiplayerQuiz',QuizID=QuizID)}}",
              data: $("#test-form").serialize(),
              success: function (data) {               
                $("#quiz-section").html(data);                
              }              
            }).then(function(){
              updateScoreBoard();
            });
            e.preventDefault();
          });
        });
        function updateScoreBoard()
        {
          $.ajax({
          type: "GET",
          url: "/Scoreboard",
          success: function (data) {
              $('#scores').html(data);
            }
          });
        }
      </script>
{% if DisplayCorrectAnswer == False %}
{% if QuestionType == 'MC' %}
  <div class="quiz-box">
    <div class="card">
      <p class="card-header bg-primary text-wrap p-3" style="color: #e4e7e9; font-size:larger;">{{Questions}}</p>           
        <form method="post" class="center" id="test-form">
          <div class="card-body quiz-body">
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="answer" name="answer" value="{{Answers[0]}}" >
              <label class="form-check-label" for="flexRadioDefault0">
                {{Answers[0]}}
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="answer" name="answer" value="{{Answers[1]}}" >
              <label class="form-check-label" for="flexRadioDefault1">
                {{Answers[1]}}
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="answer" name="answer" value="{{Answers[2]}}" >
              <label class="form-check-label" for="flexRadioDefault2">
                {{Answers[2]}}
              </label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="radio" id="answer" name="answer" value="{{Answers[3]}}" >
              <label class="form-check-label" for="flexRadioDefault3">
                {{Answers[3]}}
              </label>
            </div>            
          </div>    
          <div class="card-footer">
            <input class="btn btn-primary btn-blue" name="Choose" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>       
  {% endif %} {% if QuestionType == 'FB' %}
    
    <h1>{{Questions}}</h1>
    <h1>{{Answers}}</h1>
    
    <form method="POST" id="test-form">
      <h3 class="text-center">Enter Answer</h3>
      <div class="form-group">
        <label for="Answer">Answer</label>
        <input
          type="text"
          class="form-control"
          id="Answer"
          name="Answer"
          placeholder="Enter Answer"
        />
      </div>
    
      <br />
      <button
        type="submit"
        class="btn btn-primary btn-blue" >
        Submit
      </button>
     </form>
{% endif %} 

{% if QuestionType == 'QA' %}
  <script>
    function allowDrop(ev) {
      ev.preventDefault();
    }  
    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }  
    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");    
      if (ev.target.childNodes.length == 0) {
        ev.target.appendChild(document.getElementById(data));
      }
    }
    function getValues() {   
      $(".drop-section").each(function () {
        var dropedValue = $(this).find("span");
        var inputValue = $(this).siblings('.form-val');      
        var innerDivId = $(this).attr("id");
      
        var valToForm=dropedValue.attr("id");
        var formValue=valToForm.replace("drag","")     
        inputValue.val(formValue);     
      });    
    }  
    function resetAnswerPad() {   
      var container = document.getElementById("drag-container");
      container.innerHTML = html;
      $(".drop-section").find("span").remove();
    }
    var html;
    $("#quiz-box").ready(function () {
      html = document.getElementById("drag-container").innerHTML;
    });
  </script>   
                                 
  <form method="post" id="test-form"> 
    <div class="quiz-box">   
      <div class="card p-2">        
        <div class="row text-center">
          <div class="col">
            <a class="btn btn-secondary" href="#" onclick="resetAnswerPad()">Retry</a>
            <button type="submit" onclick="getValues()" class="btn btn-primary btn-blue">Submit</button>
          </div> 
        </div>
    
        <div class="row mt-3">  
          <div class="col-12">
            <div class="card mb-3" style="max-width: 700px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <div id="q1" class="question">
                    <p>{{Questions[0][1]}}</p>
                  </div>
                </div>
                <div class="col-md-8" style="background-color:rgb(217, 220, 219);">
                  <div class="card-body">
                  <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" class="drop-section"></div>
                  <input type="hidden" name="Box{{Questions[0][0]}}" id="{{Questions[0][0]}}" class="form-val" value=""/>                     
                  </div>
                </div>
              </div>
            </div> 
          </div>  
          <div class="col-12">
            <div class="card mb-3" style="max-width: 700px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <div id="q2" class="question">
                    <p>{{Questions[1][1]}}</p>
                  </div>
                </div>
                <div class="col-md-8" style="background-color:rgb(217, 220, 219);">
                  <div class="card-body">
                    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" class="drop-section"></div>
                    <input type="hidden" name="Box{{Questions[1][0]}}"id="{{Questions[1][0]}}" class="form-val" value=""/>                  
                  </div>
                </div>
              </div>
            </div>
          </div>  
        <div class="col-12">
          <div class="card mb-3" style="max-width: 700px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <div id="q3" class="question">
                  <p>{{Questions[2][1]}}</p>
                </div>
              </div>
              <div class="col-md-8" style="background-color:rgb(217, 220, 219);">
                <div class="card-body">
                  <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)" class="drop-section"></div>
                  <input type="hidden" name="Box{{Questions[2][0]}}" id="{{Questions[2][0]}}" class="form-val" value=""/>            
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="drag-container" class="col-12">        
          <h5>Drag the answers from  this rectangle:</h5>
          <div class="row">
            <div class="col">
              <div class="drag-section mb-3"><span id="drag{{Answers[0][0]}}" draggable="true" ondragstart="drag(event)">{{Answers[0][1]}}</span></div>
            </div>
            <div class="col">
              <div class="drag-section mb-3"><span id="drag{{Answers[1][0]}}" draggable="true" ondragstart="drag(event)">{{Answers[1][1]}}</span></div>
            </div>
            <div class="col">
              <div class="drag-section mb-3"><span id="drag{{Answers[2][0]}}" draggable="true" ondragstart="drag(event)">{{Answers[2][1]}}</span></div>
            </div>         
          </div>        
        </div>  
        </div> 
      </div>
      </div>                     
  </form>
{% endif %}
{% if QuestionType == 'SM' %}
{{Questions}}
  <script>
  $(document).ready(function(){
    $("span").click(function(event){
      event.stopPropagation();
      let spanVal=$(this).text();
      $('#answered').val(spanVal);
    });
    });  
  </script>
  <form method="post" id="test-form">
    <div id="answer-section">
      {% for x in Answers.split() %}
      <span class="pointer-type">{{x}}</span>
      {% endfor %}
    </div>
    <input id="answered" name="incorrectWord" type="hidden" value=""/>
    <div class="mb-3">
      <button  type="submit" class="btn btn-primary btn-blue">Submit</button>
    </div>
    
  </form>

{% endif %}
{% endif %}

{% if DisplayCorrectAnswer == True %}        
{% if QuestionType == 'MC' %}
  <div class="quiz-box">
    <div class="card">
      <div class="card-header bg-success text-center">
        <p>Correct answer</p>
      </div>
    </div>
    <form method="post" class="center" id="test-form">
      <div class="card-body">
        <p class="card-body">{{CorrectAnswer}}</h1>
      </div>
      <input type="hidden" value="True" name="DisplayAnswer"/>
      <div class="card-footer text-center">
        <input type="submit" value="Next Question" name="NextQuestion" class="btn btn-primary btn-blue" />
      </div>
    </form>
  </div>                
{% endif %}
{% if QuestionType == 'FB' %}
  <form method="post" class="center" id="test-form">
    <h1>{{CorrectAnswer}}</h1>
    <input type="hidden" value="True" name="DisplayAnswer"/>
    <input
    type="submit"
    value="Next Question"
    name="NextQuestion"
    class="btn btn-primary btn-blue"
    />
  </form>
{% endif %}
{% if QuestionType == 'SM' %}
        
  <form method="post" class="center" id="test-form">
    <h1>{{Answers}}</h1>
    <h1>{{CorrectAnswer}}</h1>
    <input type="hidden" value="True" name="DisplayAnswer"/>
    <input
    type="submit"
    value="Next Question"
    name="NextQuestion"
    class="btn btn-primary btn-blue"
    />
  </form>
{% endif %}
{% if QuestionType == 'QA' %}
  <form method="post" class="center" id="test-form">
    <div class="card">
      <h5 class="card-header">Answer</h5>
      <div class="card-body">
        {% for key,value in CorrectAnswer.items() %}
        <div class="row"> 
          <div class="col">
            <div class="row">
              <div id="question-container" class="col"> 
                <div class="row">
                  <div class="col mb-3">
                    <div id="q1" class="question">
                      <h5>Question:</h5>  
                      <p>{{key}}</p>
                    </div>
                  </div>
                  <div class="col mb-3">
                    <div id="div1" class="drop-section">
                      {{value}}
                    </div>
                  </div>
                </div>
                </div>
              </div>        
            </div>
          </div>        
        {% endfor %}
        <input type="hidden" value="True" name="DisplayAnswer"/>
        <input type="submit" value="Next Question" name="NextQuestion" class="btn btn-primary btn-blue"/>
      </div>
    </div>
  </form>
{% endif %}
{% endif %}