{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form
      method="post"
      action="{{url_for('flashcardsSection.PracticeFlashcards',DeckName=DeckName)}}"
    >
      <div class="row card mb-3 text-center">
        <div class="card-body">
          <p class="font-weight-bold">{{ContentToDisplay}}</p>
        </div>
      </div>
      <div class="row btn-group">
        <div class="col-12">
          <input
            type="submit"
            id="flipcard"
            value="Flip Card"
            name="{{actionName}}"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Previous Flashcard"
            name="action2"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Next Flashcard"
            name="action3"
            class="btn"
          />
        </div>
        <div class="col-12">
          <input
            type="submit"
            value="Shuffle Deck"
            name="action4"
            class="btn"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
