{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}

<h1>{{ContentToDisplay}}</h1>

<!-- <script type="text/javascript" src="../static/index.js"></script> -->
<form
  method="post"
  action="{{url_for('FlashcardsSection.PracticeFlashcards',DeckName=DeckName)}}"
  class="center"
>
  <input
    type="submit"
    id="flipcard"
    value="Flip Card"
    name="{{actionName}}"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
  <input
    type="submit"
    value="Previous Flashcard"
    name="action2"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
  <input
    type="submit"
    value="Next Flashcard"
    name="action3"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
  <input
    type="submit"
    value="Shuffle Deck"
    name="action4"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
</form>

{% endblock %}
<!-- {{url_for('views.PracticeFlashcards',DeckName=DeckName)}} -->
<!-- <form method="post" action="/PracticeFlashcards/{{DeckName}}" class="center"></form> -->
