{% extends "base.html" %} {% block title %}Flashcards{% endblock %} {% block
content %}

<style>
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
</style>

<form method="post" class="buttons">
  <h3>Host or join a quiz room</h3>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
    <button type="submit" name="join">Join a Quiz</button>
  </div>
  <input type="text" name="QuizID" placeholder="Enter QuizID" />
  <button type="submit" name="create" class="create-btn">Host a Quiz</button>
  <input
    type="submit"
    value="Take Quiz"
    name="TakeQuiz"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
  <input
    type="submit"
    value="Previous Quizzes"
    name="PreviousQuizzes"
    class="btn"
    style="background-color: #767c7c; color: #e4e7e9"
  />
</form>
{% endblock %}
