{% extends "base.html" %} {% block title %}{{DeckName}}{% endblock %} {%
block content%}


<style>

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #767c7c;
    color: #e4e7e9;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #e4e7e9;
}



</style>






<h1 align="center" style="color: #767c7c">Flashcards</h1>



{% if IsDeckAParentDeck == False %}

<table class="styled-table">
    <thead>
       <tr>
        <td>Flashcard ID</td>
        <td>Question</td>
        <td>Answer</td>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}

        <tr> 
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>

        </tr>
        {% endfor %} 
    </tbody>
</tbody>
</table>


{% endif %}


{% if IsDeckAParentDeck == True %}
<table class="styled-table">
    <thead>
       <tr>
        <td>Subdeck Name</td>
        <td>Flashcard ID</td>
        <td>Question</td>
        <td>Answer</td>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}

        <tr> 
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>

        </tr>
        {% endfor %} 
    </tbody>
</tbody>
</table>

{% endif %}



{% endblock %}
