{% extends "base.html" %} {% block title %}{{DeckName}}{% endblock %} {%
block content%}

<h3 class="text-center mb-3">Flashcards</h3>
{% if IsDeckAParentDeck == False %}

<table class="styled-table">
    <thead>
       <tr>
        <td>Flashcard ID</td>
        <td>Question</td>
        <td>Answer</td>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}

        <tr> 
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>

        </tr>
        {% endfor %} 
    </tbody>
</tbody>
</table>

{% endif %}

{% if IsDeckAParentDeck == True %}
<table class="styled-table">
    <thead>
       <tr>
        <td>Subdeck Name</td>
        <td>Flashcard ID</td>
        <td>Question</td>
        <td>Answer</td>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}

        <tr> 
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>

        </tr>
        {% endfor %} 
    </tbody>
</tbody>
</table>

{% endif %}

{% endblock %}
