{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block
content %}
<div class="row mt-3">
  <div class="col-2"></div>
  <div class="col-8">
    <h3 class="text-center mb-3">Welcome</h3>
    <p>
      Welcome to Revisionary, the ultimate online platform for students to
      practice and revise their flashcards in an effective and engaging way. Our
      website is designed to help you prepare for your exams by providing you
      with a fun and interactive way to test your knowledge and learn new
      information.
    </p>

    <p>
      With Revisionary, you can easily create your own flashcards or import them
      from Anki. Once you have your flashcards ready, you can take quizzes on
      your own or invite other students to join you in a study group. Our
      platform also provides you with detailed feedback on your performance,
      allowing you to track your progress and identify areas where you need to
      improve.
    </p>
    <p>
      Whether you are studying for an important test or simply looking to
      enhance your learning experience, Revisionary has everything you need to
      succeed. With our easy-to-use interface, powerful study tools, and
      supportive community of learners, you can achieve your academic goals and
      become a revision master in no time.
    </p>
    <p>Join Revisionary today and take your learning to the next level!</p>
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
